<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'ATE', admin_root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'CATEGORIES', admin_categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'SING OUT', destroy_user_session_path, class: 'nav-link', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>
